<form id="day-form" class="bg-gray-100 p-4 rounded-xl shadow-inner space-y-4">
    <h4 id="day-form-title" class="text-md font-semibold text-gray-700">Seçili Gün İşlemleri</h4>

    <div class="space-y-2">
        <div>
            <label class="block text-sm font-medium text-gray-700">Başlangıç Saati</label>
            <input type="time" id="start-time" name="StartTime" class="w-full border rounded px-3 py-2 mt-1" />
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Bitiş Saati</label>
            <input type="time" id="end-time" name="EndTime" class="w-full border rounded px-3 py-2 mt-1" />
        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="is-on-leave" name="IsOnLeave" class="h-5 w-5 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" />
            <label for="is-on-leave" class="text-sm text-gray-700">İzinli Gün</label>
        </div>

        <div class="flex items-center gap-2">
            <input type="checkbox" id="is-day-off" name="IsDayOff" class="h-5 w-5 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" />
            <label for="is-day-off" class="text-sm text-gray-700">Çalışmadığı Gün</label>
        </div>


    </div>

    <div class="flex justify-end gap-2 pt-4">
        <button type="submit" id="save-day-btn" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
            Kaydet
        </button>
    </div>
</form>

<script src="~/js/admin/location/workerhour/dayform.js"></script>